<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eisa Haider</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <section class="hero">

        <h1>Eisa Haider</h1>

        <p>
            Information Technology Officer
            | Systems Developer
            | Python & Flask
        </p>

    </section>

</body>
</html>